* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container {
    color: blanchedalmond;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    display: inline-block;
}

.container h1 {
    cursor: default;
    font-size: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}

.box {
    width: 100%;
    display: flex;
    align-items: center;
}

.box input {
    width: 75%;
    margin: 20px 10px;
    padding-right: 10px;
    font-size: 20px;
    color: blanchedalmond;
    border: none;
    outline: none;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
    background: none;
    border-bottom: 1px solid purple;
}

.btn {
    cursor: pointer;
    outline: none;
    background: purple;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.btn:hover {
    color: purple;
    background: blanchedalmond;
}

::placeholder {
    color: blueviolet;
}